body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 36px;
    font-weight: bold;
}

.payment-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.payment-method-buttons {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.payment-method-buttons button {
    margin: 0 10px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; 
}

.payment-method-buttons button:hover {
    background-color: #45a049;
}

.payment-code-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.payment-code img {
    max-width: 50%; 
    height: auto;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #f0f0f0;
    border-radius: 10px;
}

.download-link {
    text-decoration: none;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; 
}

.download-link:hover {
    background-color: #45a049;
}

.download-icon {
    margin-right: 8px;
}

.thank-you-text {
    max-width: 600px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
}

.thank-you-text p {
    margin: 10px 0;
}

@media screen and (max-width: 600px) {
    .payment-code img {
        max-width: 50%; 
    }
    
    .payment-method-buttons {
        flex-wrap: wrap; 
    }

    .payment-method-buttons button {
        margin: 5px; 
    }
}
